body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f7f6f3;
  color: #2f2f2f;
  /*background*/
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("img-cv/background.jpg");

  background-position: right center;
}

.sidebar {
  width: 30%;
  background-color: #264653;
  color: #ffffff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sidebar img {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 80px;
  margin-bottom: 1.5rem;
  border: 3px solid #ffffff;
  object-position: center top;
}

.sidebar h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.sidebar p {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}

.contact-info {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
}

.social-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin: 1.5rem 0;
  flex-direction: column;
}

.social-icons a {
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: transparent;
  transition: color 0.3s, background-color 0.3s;
  text-decoration: none;
  gap: 1.5rem; /* Añadido para el espacio entre el icono y el texto */
  font-size: 1.2rem;
}

.social-icons i {
  font-size: 2rem;
  line-height: 1;
  text-align: center;
}

.social-icons a:hover {
  color: #e9c46a;
  background-color: rgba(255, 255, 255, 0.1);
}

.main {
  width: 70%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.section {
  margin-bottom: 1.5rem;
}

.section h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.7rem;
  color: #264653;
  border-bottom: 2px solid #e9c46a;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
}

.section p {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 0.8rem;
  text-align: justify;
}

.skills-list,
.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skills-list span,
.tech-list span {
  background-color: #e0e7ff;
  color: #264653;
  padding: 0.5rem 0.8rem;
  border-radius: 20px;
  font-size: 0.95rem;
  font-weight: 600;
}

/* Botón de descarga */
.download-container {
  position: absolute;
  top: 20px;
  right: 30px;
}

.download-container button {
  background-color: #2f2f2f;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.download-container button:hover {
  background-color: #1d1d1d;
}
